<svelte:head>
	<title>About</title>
</svelte:head>

<h1>About this site</h1>

<p>Download the <a href="/movies.json">movies list in JSON</a>.</p>

<p>Source: <a href="https://gitlab.com/maxburon/tinymediasite"> https://gitlab.com/maxburon/tinymediasite</a></p>
