<script context="module">
 export async function preload() {
     return Promise.all([this.fetch(`pages/0.json`),
                         this.fetch(`genres.json`),
                         this.fetch(`latest.json`)])
                   .then(r => Promise.all(r.map(res => res.json())))
                   .then(jsons => {
	               return {
                           page: 0,
                           movies: jsons[0],
                           genres: jsons[1],
                           latest: jsons[2]
                       }
                   })
 }
</script>

<script>
 import MoviePage from '../components/MoviePage.svelte'

 export let movies
 export let latest
 export let genres
 export let page

</script>

<svelte:head>
    <title>Movies</title>
</svelte:head>

<MoviePage movies="{movies}" latest="{latest}" genres="{genres}" page="{page}" />
