<script context="module">
 export async function preload({ params }) {
     // the `slug` parameter is available because
     // this file is called [slug].svelte
     const res = await this.fetch(`tags.json`);
     const tags = await res.json();

     if (res.status === 200) {
	 return { tags };
     } else {
	 this.error(res.status, data.message);
     }
 }
</script>

<svelte:head>
    <title>Tags</title>
</svelte:head>

<script>
 export let tags;
</script>

<h1 class="center">Tags</h1>
<ul class="tags">
    {#each tags as tag}
        <li class="tag"><a href="tag/{encodeURI(tag.name)}" style="font-size: {.7 + .7 * Math.log(tag.count)}em" title="{tag.name} ({tag.count} movies)">{tag.name}</a></li>
    {/each}
</ul>

<style>
 .tags {
     display: flex;
     list-style: none;
     flex-wrap: wrap;
     align-items: baseline;
 }
 .tag {
     margin: .5em;
 }
 .tag a:before {
     content: "#";
 }
</style>
