<script context="module">
 export function preload() {
     return this.fetch(`tvshows.json`)
                   .then(r => r.json())
                   .then(json => {
	               return {
                           tvshows: json
                       }
                   })
 }
</script>

<script>
 export let tvshows
 import MovieList from '../components/MovieList.svelte'
</script>

<svelte:head>
    <title>TV Shows</title>
</svelte:head>

<h1 class="center">TV Shows</h1>
<div id="movies">
    <MovieList movies="{tvshows}" urlBase="tvshow" />
</div>

