<script context="module">
 export async function preload({ params }) {
     // the `slug` parameter is available because
     // this file is called [slug].svelte
     const res = await this.fetch(`movie/${params.slug}.json`)
     const data = await res.json();

     if (res.status === 200) {
	 return { movie: data };
     } else {
	 this.error(res.status, data.message);
     }
 }
</script>

<script>
 export let movie;

 import IconArray from '../../components/IconArray.svelte'
 import ItemPageHeader from '../../components/ItemPageHeader.svelte'
</script>

<svelte:head>
    <title>{movie.title}</title>
</svelte:head>

<ItemPageHeader item={movie} />
<section>
    <IconArray item={movie}/>
    {#if movie.plot}
        <p class="plot">
            {movie.plot}
        </p>
    {/if}
    <div class="cards actors">
        {#each movie.actors as actor}
            <div class="actor card">
                {#if actor.movieCount > 1}
                    <a href="../actor/{encodeURI(actor.name)}">
                        <img src="{actor.fanartUrl}" class="poster" loading="lazy" alt="picture of {actor.name}" />
                        <p>{actor.role}</p>
                        <p>{actor.name}</p>
                    </a>
                {:else}
                    <img src="{actor.fanartUrl}" class="poster" loading="lazy" alt="picture of {actor.name}"/>
                    <p>{actor.role}</p>
                    <p>{actor.name}</p>
                {/if}
            </div>
        {/each}
    </div>
</section>

