<script context="module">
 export async function preload({ params }) {
     // the `slug` parameter is available because
     // this file is called [slug].svelte
     const res = await this.fetch(`tag/${params.slug}.json`);
     const data = await res.json();

     if (res.status === 200) {
	 return { name: params.slug, movies: data };
     } else {
	 this.error(res.status, data.message);
     }
 }
</script>

<svelte:head>
    <title>{name} - Tag</title>
</svelte:head>

<script>
 export let movies;
 export let name;
 import MovieList from '../../components/MovieList.svelte'
 
</script>

<div id="movies">
    <h2 class="center">Tag: {name}</h2>
    <MovieList movies="{movies}" urlBase="movie" />
</div>
