<script context="module">
 export async function preload({ params }) {
     return Promise.all([this.fetch(`pages/${params.slug}.json`),
                         this.fetch(`genres.json`),
                         this.fetch(`latest.json`)])
                   .then(r => Promise.all(r.map(res => res.json())))
                   .then(jsons => {
	               return {
                           page: parseInt(params.slug),
                           movies: jsons[0],
                           genres: jsons[1],
                           latest: jsons[2]
                       }
                   })
 }
</script>

<script>
 import MoviePage from '../../components/MoviePage.svelte'

 export let movies
 export let latest
 export let genres
 export let page

</script>

<svelte:head>
    <title>Movies - page {page}</title>
</svelte:head>

<MoviePage movies="{movies}" latest="{latest}" genres="{genres}" page="{page}" />
