<script>
 export let item
</script>

<header class="movie-header" style="--fanart: url('{item.fanartUrl.replace(/'/g, "%27")}');
               --banner: url('{item.bannerUrl.replace(/'/g, "%27")}');">
    <div class="fanart">
    </div>
    <div class="movie-header-bottom">
        <div class="poster">
            <img src="{item.posterUrl}" alt="poster of {item.title}" />
        </div>
        <div class="info">
            <h1>{item.title}</h1>
            <div class="item-array info-line">
                <p class="year item">{item.year}</p>
                <p class="runtime item">{item.runtime}</p>
                <p class="rating item">⭐{item.rating}</p>
            </div>
            <div class="key-value genres info-line">
                {#each item.genre as genre}<span class="info"><a href="../genre/{genre}">{genre}</a></span>{/each}
            </div>
            {#if item.director}
            <div class="key-value director info-line">
                <span class="genre">
                    <a href="../director/{encodeURI(item.director)}">{item.director}</a>
                </span>
            </div>
            {/if}
        </div>
        <slot name="bottom"></slot>
    </div>
</header>

<style>
 .fanart {
     background-image: linear-gradient(rgba(0,0,0,0),#141414), var(--fanart);
 }

 @media only screen and (min-width: 900px) {
     .fanart {
         background-image: linear-gradient(rgba(0,0,0,0),#141414), var(--banner);
     }
 }
</style>
