<script>
 export let movies;

</script>

<div class="cards">
    {#each movies as movie}
        <div class="card movie" data-id="{movie.id}" id="{movie.id}" data-title="{movie.title} {movie.originaltitle}">
            <a href="{movie.type}/{movie.id}">
                <img src="{movie.posterUrl}" class="poster" loading="lazy" alt="poster of {movie.title}" />
                <p>{movie.title}</p>
            </a>
            <p>{movie.year}</p>
        </div>
    {/each}
</div>
