<script>
 import FuzzySet from './_FuzzySet.js'
 import MovieList from './MovieList.svelte'
 import { onMount } from 'svelte'
 export let movies
 export let latest
 export let genres
 export let page

 const ANSWERS_SELECTOR = '#answers'
 const LATEST_SELECTOR = '#latest'
 const MOVIES_SELECTOR = '#movies'
 const LATEST_LIMIT = 10

 let movieAnswers = []
 const originalPage = page
 let loading = false
 let bottomElt
 let allMovies
 
 onMount(() => {
     if (IntersectionObserver) {
         //infinite mapping scroll
         const options = {
             root: undefined,
             rootMargin: '300px',
             threshold: 0.5,
         }
         const observer = new IntersectionObserver(handleIntersection, options)

         function handleIntersection(event) {
             if (!loading) {
                 loading = true
                 page += 1

                 fetch(`pages/${page}.json`)
                     .then(res => res.json())
                     .then(ms => {
                         setTimeout(() => {
                             loading = false                                
                         }, 200)
                         movies = movies.concat(ms)
                     })
                     .catch(e => {
                         loading = false  
                     })
             }
         }

         observer.observe(bottomElt)
     } else {

     }

     // title search
     const minMatchScore = 0.1
     let searchSet = undefined
     const moviesByTitle = new Object() 
     const input = document.getElementById('movietitle')
     
     let getSearchSet = function() {
         // if searchSet is not a promise
         if (searchSet && !searchSet.then) {
             return Promise.resolve(searchSet)
         }
         // if searchSet is a promise
         if (searchSet)
             return searchSet
         // if searchSet is undefined
         searchSet = fetch('movies.json')
             .then(res => res.json())
             .then(movies => {
                 const titles = []

                 for (let m of movies) {
                     const title = m.title.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
                     const id = m.id
                     titles.push(title)
                     if  (moviesByTitle[title])
                         moviesByTitle[title].push(m)
                     else
                         moviesByTitle[title] = [m]
                 }
                 searchSet = FuzzySet(titles, false, 2, 3)
                 return searchSet
             })
         .catch(() => searchSet = undefined)

         return searchSet
     }

     let handleSearch = () => {
         const value = input.value.trim()
                            .normalize("NFD")
                            .replace(/[\u0300-\u036f]/g, "")
         
         const isSearchMode = value.length > 2 
         // set visibility of original movies
         toggleSearchMode(isSearchMode)
         // launch search
         if (isSearchMode) {
             getSearchSet()
                 .then(searchSet => {
                     const a = searchSet.get(value, null, minMatchScore)
                     console.log(a)
                     if (a != null) {
                         // we only keep the 
                         const maxScore = a[0][0]
                         movieAnswers = a
                             .filter(a => (a[0] - minMatchScore) / (maxScore - minMatchScore) > 0.5)
                             .map(v => v[1])
                             .map(title => moviesByTitle[title])
                             .reduce((acc, arr) => {
                                 arr.forEach(movie => acc.push(movie))
                                 return acc
                             }, [])
                     }
                 })
         }
     }

     let toggleSearchMode = function(actived) {
         const answers = document.querySelector(ANSWERS_SELECTOR)
         const latest = document.querySelector(LATEST_SELECTOR)
         const movies = document.querySelector(MOVIES_SELECTOR)

         if (actived) {
             answers.style.removeProperty('display')
             movies.style.display = 'none'
             latest.style.display = 'none'
         } else {
             answers.style.display = 'none'
             movies.style.removeProperty('display')
             latest.style.removeProperty('display')
         }
     }

     if (input)
         input.addEventListener('keyup', handleSearch)
 })      
</script>

<svelte:head>
    <title>Movies</title>
</svelte:head>

<h1 class="center">Movies</h1>
{#if !originalPage}
    <nav>
        <input id="movietitle" name="movietitle" placeholder="title" value=""/>
        <label for="movietitle" class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><path d="M337.509 305.372h-17.501l-6.571-5.486c20.791-25.232 33.922-57.054 33.922-93.257C347.358 127.632 283.896 64 205.135 64 127.452 64 64 127.632 64 206.629s63.452 142.628 142.225 142.628c35.011 0 67.831-13.167 92.991-34.008l6.561 5.487v17.551L415.18 448 448 415.086 337.509 305.372zm-131.284 0c-54.702 0-98.463-43.887-98.463-98.743 0-54.858 43.761-98.742 98.463-98.742 54.7 0 98.462 43.884 98.462 98.742 0 54.856-43.762 98.743-98.462 98.743z"/></svg>
        </label>
    </nav>
    <div id="answers" style="display:none;">
        <h2 class="center">Results</h2>
        <MovieList movies="{movieAnswers}"/>
    </div>

    <div id="latest">
        <h2 class="center">Latest movies <a href="/feed" class="icon"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Logo Rss</title><path d='M108.56 342.78a60.34 60.34 0 1060.56 60.44 60.63 60.63 0 00-60.56-60.44z'/><path d='M48 186.67v86.55c52 0 101.94 15.39 138.67 52.11s52 86.56 52 138.67h86.66c0-151.56-125.66-277.33-277.33-277.33z'/><path d='M48 48v86.56c185.25 0 329.22 144.08 329.22 329.44H464C464 234.66 277.67 48 48 48z'/></svg></a></h2>
        <MovieList movies="{latest}" />
    </div>
{/if}
<div id="movies">
    <h2 class="center">Genres</h2>
    <div class="key-value info-line center">
        {#each genres as genre}<span class="info"><a href="../genre/{genre}">{genre}</a></span>{/each}
    </div>
    {#if !originalPage}
        <h2 class="center">Movies</h2>
    {:else}
        <h2 class="center">Page {originalPage}</h2>
    {/if}
    <MovieList movies="{movies}" />
    <div class="bottom" bind:this="{bottomElt}"></div>

    <footer>
        {#if movies.length}
            <a href="pages/{page + 1}"><strong>Next</strong></a>
        {/if}
    </footer>
</div>

<style>
    footer {
        text-align: center;
        margin: 1em;
    }
</style>
