body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

body {
    background: black;
    color: rgba(255,255,255,.73);
    font-size: .95em;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",'Open Sans',sans-serif;
    margin: 0;
}

.center {
    margin-top: 1em;
    text-align: center;
}

nav {
    text-align: center;
}

nav label {
    font-size: 1.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: rgba(255,255,255,.9);
}

.icon {
    align-self: center;
}

.icon svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
    top: .125em;
    position: relative;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu .icon svg {
    width: 2em;
    height: 2em;
    margin: 0.5em 1em;
}

h1 {
    margin-top: .1em;
}

.top-button {
    display: block;
    position: absolute;
    padding: .15em;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
    font-size: 1.5em;
}

.cards {
    display: flex;
    margin: auto;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70em;
}

.cards .card {
    min-width: 14em;
    min-height: 18em;
    margin: 1em;
    width: 15em;
    text-align: center;
}

.poster {
    border: 1px rgba(255,255,255,.3) solid;
}

.card p {
    margin: 0.1em;
}

.movie-header .fanart {
    background-size: cover;
    height: 33vh;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.movie-header .movie-header-bottom {
    
}

.movie-header .poster {
    margin: 2vw;
    margin-left: 2vw;
    margin-top: -15vh;
    float: left;
    height: 33vh;
}

.info .info-line {
    margin-bottom: .5em;
}

.info-line .info:after {
    content: ", ";
}

.info-line .info:last-child:after {
    content: "";
}

.item-array {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.item-array .item {
    margin: 0;
    margin-right: 1em;
}

.runtime:after {
    content: "min";
}

.rating:before {

}

.key-value:before {
    font-weight: bold;
}

.genres:before {
    content:"Genres: ";
}

.director:before {
    content:"Director: ";
}

section {
    clear: left;
    padding: 1em;
}

.item-array .icon {
    font-size: 2em;
    text-align: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plot {
    padding-left: 3vm;
    max-width: 40em;
}

.episode {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    margin: 2em;
}

.episode .thumb {
    max-width: 50%;
}

.episode .info {
    padding: 0 1.5em;
}

.episode .info h3 {
    margin-top: 0;
}

.episode .plot {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {

    .cards .card {
        min-width: 10em;
        min-height: 14em;
        width: 10em;
    } 
  
    .top-button {
        font-size: 2.1em;
    }
}
