<script context="module">
 export async function preload({ params }) {
     // the `slug` parameter is available because
     // this file is called [slug].svelte
     const res = await this.fetch(`tvshow/${params.slug}.json`)
     const data = await res.json();

     if (res.status === 200) {
	 return { tvshow: data };
     } else {
	 this.error(res.status, data.message);
     }
 }
</script>

<script>
 import { onMount } from 'svelte'
 import IconArray from '../../components/IconArray.svelte'
 import ItemPageHeader from '../../components/ItemPageHeader.svelte'
 import downloadTextFile from '../../libs/downloadTextFile.js'
 export let tvshow;

 function episodeM3u(ep) {
     let string = ''
     string += '#EXTINF:-1,' + ep.title + '\n'
     //  subtitle can not be defined using url, but only local path ...
     /* for (const url of Object.values(ep.fileSubUrl)) {
      *     string += '#EXTVLCOPT:sub-file=' + url + '\n'
      * } */
     string += ep.fileUrl

     return string
 }
 
 // create m3u file for seasons
 const saveTextAsFile = function(season)
 {
     const textToWrite = tvshow.seasons.filter(s => s.number === season)[0].episodes.map(episodeM3u).join('\n')
     const fileNameToSaveAs = tvshow.title + '-season' + season + '.m3u'
     downloadTextFile(textToWrite, fileNameToSaveAs)
 }

</script>

<svelte:head>
    <title>{tvshow.title}</title>
</svelte:head>

<ItemPageHeader item={tvshow}>
    <ul class="seasons-table" slot="bottom">
        {#each tvshow.seasons as season}
            <li><a href="tvshow/{tvshow.id}#season{season.number}">Season {season.number}</a> - <button on:click={() =>saveTextAsFile(season.number)} >playlist</button></li>
        {/each}
    </ul>
</ItemPageHeader>
<section>
    <div class="seasons">
        {#each tvshow.seasons as season}
            <div class="season" id="season{season.number}">
                <h2>Season {season.number}</h2>
                <div class="episodes">
                    {#each season.episodes as episode}
                        <div class="episode">
                            <img src="{episode.thumbUrl}" class="thumb" loading="lazy" alt="poster of {episode.title}" />
                            <div class="info">
                                <h3>{episode.episode} - {episode.title}</h3>
                                <div class="item-array info-line">
                                    <p class="runtime item">{episode.runtime}</p>
                                    <p class="rating item">⭐{episode.rating}</p>
                                </div>
                                <IconArray item="{episode}"/>
                            </div>
                            <p class="plot">
                                {episode.plot}
                            </p>
                        </div>
                    {/each}
                </div>
            </div>
        {/each}
    </div>
    <!-- <div class="cards actors">
         ${foreach tvShow.actors actor }
         <div class="actor card">
         <img data-src="${actor.thumbUrl}" class="poster" loading="lazy"/>
         <p>${actor.name}</p>
         </div>
         ${end}
         </div> -->
</section>
